<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>About</h1>
    <h2>><%= user %> さん</h2>
    <div>
      <a href="/logout">ログアウト</a>
    </div>
  </body>
</html>
